<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Portal.Components.My.MySettings.PortalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=rsa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString4"
            connectionString="Data Source=localhost;Initial Catalog=Portal;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=Portal;User ID=sa;Password=rsa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString2"
            connectionString="Data Source=LOCKTHBNK-DB07\NEWMOTOR;Initial Catalog=Portal;Persist Security Info=True;User ID=locksql;Password=Lockton###"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString3"
            connectionString="Data Source=LOCKTHBNK-DUSIT;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=rsa"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString5"
            connectionString="Data Source=LOCKTHBNK-DB07\NEWMOTOR;Initial Catalog=Portal;User ID=locksql;Password=Lockton###"
            providerName="System.Data.SqlClient" />
        <add name="Portal.Components.My.MySettings.PortalConnectionString6"
            connectionString="Data Source=LOCKTHBNK-DB07\NEWMOTOR;Initial Catalog=Portal;Persist Security Info=True;User ID=locksql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
